@model ProductListViewModel


<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">PRICE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CATEGORY</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var p in Model.Products)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Name</td>
                        <td>@p.Price</td>
                        <td>@p.Description</td>
                        <td>@p.Category</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>