@model ProductListViewModel


<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">PRICE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CATEGORY</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var p in Model.Products)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Name</td>
                        <td>@p.Price</td>
                        <td>@p.Description</td>
                        <td>@p.Category</td>
                    </tr>
                }
            }

        </tbody>
    </table>
 <!--   <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              @*   <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li> *@
                for (var i = 0; i <= Model.PageInfo.TotalPages; i++)
                {
                    @* <a href="/?page=@i">@i</a> *@
                    <li class="page-item"><a class="page-link" href="/?page=i">i</a></li>
                }
                   @*  <a class="page-link" href="#">Next</a> *@
                </li>
            </ul>
        </nav>
       </div>
       -->
    <!--Tag helper metodu ile pagination yapimi START-->
    <div page-model="@Model.PageInfo" page-action="Index">

    </div>
    <!--Tag helper metodu ile pagination yapimi END -->
</div>


